################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MasterMindEngine/.vs
/MasterMindEngine/MasterMindEngine/obj
